﻿@{
    ViewData["Title"] = "Home Page";
}
@model BelajarAPI.Models.Menu

<div class="container">
    <form asp-action="PostNew" asp-controller="Home" method="post">
        <input type="text" name="Name" asp-for="Name"/>
        <input type="number" name="Price" asp-for="Price"/>
        <input type="submit" name="name" value="Submit" />
    </form>
</div>