﻿@{
    ViewData["Title"] = "Login Page";
}

@model ASP.NetCoreExercise.Forum.Model.User

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel-primary">
                <div class="panel-heading">
                    <h3>Login</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-offset-1 col-md-10">
                        <form asp-action="ValidateLogin" asp-controller="Login" method="post" class="form-horizontal">
                            <div class="form-group">
                                @*@if (Model != null)
                                {<h1>@Model.Username</h1>}*@
                                
                                <label for="Username" class="control-label">Username</label>
                                <input type="text" name="Username" id="Username" class="form-control" asp-for="Username"/>
                                <span asp-validation-for="Username"></span>
                            </div>
                            <div class="form-group">
                                <label for="Password" class="control-label">Password</label>
                                <input type="password" name="Password" id="Password" class="form-control" asp-for="Password"/>
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block btn-primary">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
