﻿@{
    ViewData["Title"] = "Create New Thread";
}
@model ASP.NetCoreExercise.Forum.Models.ThreadInfo

<div class="container">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="CreateThread">
            @Html.AntiForgeryToken()
            <div class="row">
                <label class="control-label" for="ThreadTitle">Title</label>
                <input type="text" class="form-control" name="ThreadTitle" asp-for="ThreadTitle"/>
                <span asp-validation-for="ThreadTitle"></span>
            </div>
            <div class="row">
                <textarea class="form-control" name="ThreadContent" asp-for="ThreadContent"></textarea>
                <span asp-validation-for="ThreadContent"></span>
            </div>
            <div class="row">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>    
</div>