﻿@{
    ViewData["Title"] = "Thread Page";
}

@model List<ASP.NetCoreExercise.Forum.Models.ThreadInfo>
<div class="container">
    <div class="row">
        <h3>Thread :</h3>
    </div>
    <div class="row">
        <form asp-action="ViewThread" asp-controller="Thread" method="post">
            <ul>
                @if (Model != null)
            {
                    @foreach (var thread in Model)
                {

                        <li><a asp-route-id="@thread.ThreadId" asp-action="ViewThread">@thread.ThreadTitle</a></li>
                    }

                }
            </ul>
        </form>
    </div>
    <div class="row col-md-2 col-md-offset-10">
        <form asp-action="CreateThread" asp-controller="Thread">
            <button class="btn btn-primary">Create New Thread</button>
        </form>
    </div>
</div>