﻿@{ 
    Layout = null;
}
@model ASP.NetCoreExercise.Forum.Models.ThreadInfo
<div class="container">    
    <div class="row">
        <h2>@Model.ThreadTitle</h2>
    </div>
    <div class="row">
        <p>
            @Model.ThreadContent
        </p>
    </div>
</div>